@use '../mixins/responsive.scss' as *;

.text{
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    margin: 0;

}

.text--bold{
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 26px;
    letter-spacing: 0.27px;
}

.text-purple{
    padding: 18px 67px;
    background-color: #5E54A4;
    border-radius: 10px;
    box-shadow: 0 8px #0000001e ;
    margin: 0;
    font-size: 0.9375rem;
    line-height: 26px;
    letter-spacing: 0.27px;
}

.text--gray{
    font-weight: 500;
    font-size: 11px;
    line-height: 21px;
    color: #BAB7D4;
}
